<main class="MyTodoMain">
  <article>
    <h1 class="MyTodo-title">My To-do List</h1>
    <%= form_with(url: "/todos", method:"post", class: "MyTodo") do %>
      <%= text_field_tag 'todo_text', nil, placeholder: 'What\'s next?' , class: "MyTodo-text" %>
      <%= date_field_tag 'due_date' , class:"MyTodo-date" %>
      <%= submit_tag "Add" , class: "MyTodo-button" %>
    <% end %>

    <%= render partial:"todo-section", locals:{
        section_title:"Overdue",
        todos: @todos.over_due,
        show_due_date: true
      } %>
    <%= render partial:"todo-section", locals:{
        section_title:"Due Today",
        todos: @todos.due_today,
        show_due_date: false
      } %>
    <%= render partial:"todo-section", locals:{
        section_title:"Due Later",
        todos: @todos.due_later,
        show_due_date: true
      } %>
  </article>
</main>
